body {
    font-family: "Open Sans", sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-color: #0000ff;
    border-bottom: 10px solid #ff6600;
}

.header img {
    width: 3%;
    margin-left: 10px;
    margin-right: 10px;
}

.header h1 {
    color: #ffff00;
    font-size: 30px;
    font-weight: 900;
}

section h2 {
    text-align: center;
    font-weight: 900;
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: #0000ff;
    border-top: 10px solid #ff6600;
    color: white;
    font-weight: bold;
}

.footer-links {
    display: flex;
    justify-content: center;
}

.footer-links li {
    margin-left: 5px;
    margin-right: 5px;
    list-style: none;
}

.footer-links li a {
    text-decoration: none;
    color: #ffffff;
}

.form-container {
    display: flex;
    justify-content: center;
}

form {
    background-color: #ff6600;
    border: 10px solid #0000ff;
    border-radius: 10px 10px 10px 0px;
}

form fieldset {
    border: 5px solid #0000ff;
    border-radius: 5px 5px 5px 0px;
}

form fieldset label {
    position: absolute;
    margin-bottom: 0;
}

form fieldset input {
    border: 3px solid #0000ff;
    border-radius: 5px 5px 5px 0px;
    padding-left: 3px;
}

.form-button {
    display: flex;
    justify-content: center;
}

.form-button input {
    background-color: #0000ff;
    color: #ffffff;
    font-weight: 800;
    border: 3px solid #0000ff;
    border-radius: 5px 5px 5px 0px;
    margin: 0px 10px 15px 10px;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}

h4 {
    margin-top: 0px;
    margin-bottom: 0;
}